## One Day Python Assignment
This is the assignment intended to teach Python from the basics all the way to using Pandas Dataframes. It is not intended to be comprehensive, but rather a survey of the major topics to get the learner from point A to B.    
   
Part 1 will be worth 100 points and Part 2 will be worth 100 points. There will only be one assignment on Canvas worth 100 points. The final grade for this will be divided by 2 and rounded up.     
So if you got 100 on Part 1 and 67 on Part 2, you will have 167 / 2 = 83.5. Extra credit is added onto Part 1, so, again: if you got 110 on Part 1 and 67 on Part 2, you will have 177 / 2 = 90.

### PART 1

 1. Print “Hello World”  (2 pts)

In [1]:
print("Hello World")

Hello World

2.  Save your age to a variable called “age”    
3.  Print “Hello World, I’m (age variable) today.”    (5 pts)

In [3]:
age = 20
print("Hello World, I'm ", age, " today")

Hello World, I'm  20  today

4. Print “hello world” in all upper case using a Python string method to alter it (4 pts)

In [5]:
stringy = "hello world"
print(stringy.upper())

HELLO WORLD

 5. Save any decimal in a variable called a.   
 Cast a into an int and save it as b.  
 Cast a into a string and save it as c.   
 Print each variable and its type.   (11 pts)

In [8]:
a = 1.5
b = int(a)
c = str(b)
print("a: ", a, type(a).__name__)
print("b: ", b, type(b).__name__)
print("c: ", c, type(c).__name__)

a:  1.5 float
b:  1 int
c:  1 str

6. Create a tuple of your favorite things to eat and print it.   (4 pts)

In [9]:
favThings = ("pizza", "apples", "coxinha", "wraps")
for element in favThings:
    print(element)

pizza
apples
coxinha
wraps

7. Create a dictionary named ‘classes’ with the name of the classes you are taking as the keys and the professors names as the values. 
Print the dictionary and tuple.   (10 pts)

In [10]:
classes = {'math': 'Ms. Philhower', 'full stack': 'jaramillo', 'intro to python': 'ionut'}
print(classes)

{'math': 'Ms. Philhower', 'full stack': 'jaramillo', 'intro to python': 'ionut'}

8. Create a list called “whole” and put every number in it from 1 - 100  (10 pts)

In [11]:
whole = []
for i in range(1, 101):
    whole.append(i)
print(whole)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

9. Create 4 empty lists called ‘div2’, ‘div3’, ‘div4’, and ‘div5’       
Create a loop that examines each number from 1 to 100 and:    
 If it is divisible by 2, put it in div2   (6 pts)    
 If it is divisible by 3, put it in div3   (6 pts)     
 If it is divisible by 4, put it in div4   (6 pts)    
 If it is divisible by 5, put it in div5   (6 pts)    
 Print all 5 of these lists

In [13]:
div2 = []
div3 = []
div4 = []
div5 = []
for i in range(1, 101):
    if (i%2 == 0):
        div2.append(i)
    if (i%3 == 0):
        div3.append(i)
    if (i%4 == 0):
        div4.append(i)
    if (i%5 == 0):
        div5.append(i)
print("div2: ", div2)
print("div3: ", div3)
print("div4: ", div4)
print("div5: ", div5)

div2:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
div3:  [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]
div4:  [4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100]
div5:  [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

10. Create a new list called “divOver5”   (3 pts)

In [14]:
divOver5 = []

11. Create a new loop that goes through each number 1 through 100 and appends it to divOver5 if it is NOT IN div2 or div3 or div4 or div5      
 You must use logical operators here.   
Print divOver5   (10 points)

In [16]:
for i in range(1, 101):
    if (i%2 !=0 and i%3!=0 and i%4!=0 and i%5!=0):
        divOver5.append(i)
print(divOver5)

[1, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 49, 53, 59, 61, 67, 71, 73, 77, 79, 83, 89, 91, 97]

12. Create a function called exp3 that takes an int x, raises it to the third power.     
Create a string in the function that says “x^3 = “ and concatenate x onto the end of the string.      
Now return the string from the function.  Call the function exp3 and print what it returns.   (15 pts)

In [25]:
def exp3(x):
    x = x**3
    pow_string = "x^3 = "+ str(x)
    return pow_string
print(exp3(2))

x^3 = 8

13. Iterate through the classes dictionary and print the keys    (5 pts)

In [26]:
for key in classes.keys():
    print(key)

math
full stack
intro to python

14. Iterate through the classes dictionary and print the values   (5 pts)

In [27]:
for value in classes.values():
    print(value)

Ms. Philhower
jaramillo
ionut

(Worth +10 points) Extra Points:   
Create a class called Student that has the properties:    
	name (holds student name)    
	age (holds student age)    
	birthmonth (hold students birthmonth)
	
	A count variable exists that is set to 0 (see lecture) and upon each call to the class this variable increments     

	2 functions in the class:  displayName which returns the name of the student and displayBirthmonth which returns the birth month of the student    

	Now create 3 students, use whatever data you want.       
	Call displayName() on student1     
	Call displayBirthmonth() on student2    
	print the student count

In [29]:
class Student:
    count = 0
    def __init__(self, name, age, birthmonth):
        self.name = name
        self.age = age
        self.birthmonth = birthmonth
        Student.count += 1
    def displayName(self):
        print(self.name)
    def displayBirthmonth(self):
        print(self.birthmonth)
    
s1 = Student("carolina", 20, "April")
s2 = Student("raul", 17, "April")
s3 = Student("cleo", 40, "April")
s1.displayName()
s2.displayBirthmonth()
print(s3.count)

carolina
April
3

### PART 2

This part will require you to use the film_results.txt file provided on Canvas. You will also need to import NumPy and Pandas.

1. Move the film_results.txt file from Blackboard into your project directory.     
 Create 3 lists, one for states, one for shows, and one for viewers.     
 Ingest data from text file and put it into a NumPy array (show_results.txt)      
	Itll look like a nested list.       
          [ [‘Oregon’, ‘Once Upon a Time’, ‘4075’] [...] …]     
 Print the raw data   (10 pts)

In [41]:
import numpy as np
import pandas as pd

file = "film_results.txt"

states = []
shows = []
viewers = []

# with open(file, 'r') as f:
#     for line in f:
#         data = line.strip().split(',')
#         states.append(data[0])
#         shows.append(data[1])
#         viewers.append(data[2])

data_array = np.loadtxt(file, delimiter=',', dtype='str')

# file=open("show_results.txt", "w+")
# content = str(data_array)
# file.write(content)
# file.close()

2.  Take the data from the NumPy array and sort it by state, show and viewers, putting each into the appropriate lists you defined earlier.  (so now you have 3 lists, one with states, one with shows and one with viewer counts.)  No duplicates in the states and shows.  Duplicates can and should exist in the viewers.      
So the states list will look like this: ['Washington', 'Nevada', 'Idaho', 'California', 'Oregon']      
 Print these unsorted lists    (5 pts)

In [49]:
for x in data_array:
    states.append(str(x[0]))
    shows.append(str(x[1]))
    viewers.append(x[2])

new_states = []
new_shows = []
new_viewers = []
seen_states = set()
seen_shows = set()
seen_viewers = set()

for state, show, viewer in zip(states, shows, viewers):
    if state not in seen_states:
        new_states.append(state)
        seen_states.add(state)
    if show not in seen_shows:
        new_shows.append(show)
        seen_shows.add(show)
    if viewer not in seen_viewers:
        new_viewers.append(viewer)
        seen_viewers.add(viewer)

print(new_states)
print(new_shows)
print(new_viewers)

['Oregon', 'Washington', 'Nevada', 'Idaho', 'California']
['Once Upon a Time', 'Vikings', 'Game of Thrones', 'Daredevil', 'The Flash', 'Gotham', 'The Walking Dead', 'Suits', 'Better Call Saul', 'Orange is the New Black']
['4075', '3739', '3997', '1682', '8983', '145', '2663', '6361', '6788', '3064', '9389', '4301', '7328', '9003', '8575', '3239', '6695', '594', '3793', '8544', '1059', '8200', '1856', '2871', '9574', '5218', '6256', '8581', '2460', '728', '7495', '2103', '8179', '1144', '7514', '271', '4353', '7647', '3408', '8443', '1970', '1711', '825', '7875', '1333', '9753', '4233', '1349', '1473', '4176', '2193', '8477', '6834', '2569', '8284', '4729', '4988', '1177', '9210', '6374', '9114', '9049', '6639', '5225', '6207', '6859', '1314', '6491', '5764', '960', '5205', '2241', '6930', '3699', '8447', '3784', '9469', '4746', '8430', '742', '9322', '3254', '5103', '7291', '8395', '7304', '2707', '2547', '5555', '6505', '1817', '7268', '8161', '517', '2439', '7332', '6149']

3. Convert all 3 lists into NumPy arrays     
 print new NumPy Arrays    (10 pts)

In [50]:
import numpy
nmpy_states = numpy.array(new_states)
nmpy_shows = numpy.array(new_shows)
nmpy_viewers = numpy.array(new_viewers)

print(nmpy_states)
print(nmpy_shows)
print(nmpy_viewers)

['Oregon' 'Washington' 'Nevada' 'Idaho' 'California']
['Once Upon a Time' 'Vikings' 'Game of Thrones' 'Daredevil' 'The Flash'
 'Gotham' 'The Walking Dead' 'Suits' 'Better Call Saul'
 'Orange is the New Black']
['4075' '3739' '3997' '1682' '8983' '145' '2663' '6361' '6788' '3064'
 '9389' '4301' '7328' '9003' '8575' '3239' '6695' '594' '3793' '8544'
 '1059' '8200' '1856' '2871' '9574' '5218' '6256' '8581' '2460' '728'
 '7495' '2103' '8179' '1144' '7514' '271' '4353' '7647' '3408' '8443'
 '1970' '1711' '825' '7875' '1333' '9753' '4233' '1349' '1473' '4176'
 '2193' '8477' '6834' '2569' '8284' '4729' '4988' '1177' '9210' '6374'
 '9114' '9049' '6639' '5225' '6207' '6859' '1314' '6491' '5764' '960'
 '5205' '2241' '6930' '3699' '8447' '3784' '9469' '4746' '8430' '742'
 '9322' '3254' '5103' '7291' '8395' '7304' '2707' '2547' '5555' '6505'
 '1817' '7268' '8161' '517' '2439' '7332' '6149']

4. Sort the States and Shows arrays      
	Now your States array will look like:      
	['California', 'Idaho', 'Nevada', 'Oregon', 'Washington']      
Convert the Viewers array from STRINGS into INTS      
Sum up viewers list into one variable (you can do this in one line)       
Print: Sorted arrays (states and shows), viewers list (as ints), and the variable that is the sum of the viewers list.        (30 pts)

In [56]:
sorted_nmpy_states = np.sort(nmpy_states)
sorted_nmpy_shows = np.sort(nmpy_shows)
print(sorted_nmpy_states)
print(sorted_nmpy_shows)
sum = 0
for x in range(0, len(viewers)):
    viewers[x] = int(viewers[x])
    sum = sum + viewers[x]
print(viewers)
print("Sum: ", sum)

['California' 'Idaho' 'Nevada' 'Oregon' 'Washington']
['Better Call Saul' 'Daredevil' 'Game of Thrones' 'Gotham'
 'Once Upon a Time' 'Orange is the New Black' 'Suits' 'The Flash'
 'The Walking Dead' 'Vikings']
[4075, 3739, 3997, 1682, 8983, 145, 2663, 6361, 6788, 3064, 9389, 4301, 7328, 9003, 8575, 3239, 6695, 594, 3793, 8544, 1059, 8200, 1856, 2871, 9574, 5218, 6256, 8581, 2460, 728, 7495, 2103, 8179, 1144, 7514, 271, 4353, 7647, 3408, 8443, 1970, 1711, 825, 7875, 1333, 9753, 4233, 1349, 1473, 4176, 2193, 8477, 6834, 2569, 8284, 4729, 4988, 1177, 9210, 6374, 9114, 9049, 6639, 5225, 4988, 2103, 6207, 6859, 1314, 6491, 5764, 960, 5205, 2241, 6930, 3699, 8447, 3784, 9469, 4746, 8430, 742, 9322, 3254, 5103, 7291, 8395, 7304, 2707, 2547, 5555, 6505, 1817, 7268, 8161, 517, 2439, 7332, 6149, 4075, 3739, 3997, 1682, 8983, 145, 2663, 6361, 6788, 3064, 9389, 4301, 7328, 9003, 8575, 3239, 6695, 594, 3793, 8544, 1059, 8200, 1856, 2871, 9574, 5218, 6256, 8581, 2460, 728, 7495, 2103, 8179, 1144, 7514, 271, 4353, 7647, 3408, 8443, 1970, 1711, 825, 7875, 1333, 9753, 4233, 1349, 1473, 4176, 2193, 8477, 6834, 2569, 8284, 4729, 4988, 1177, 9210, 6374, 9114, 9049, 6639, 5225, 4988, 2103, 6207, 6859, 1314, 6491, 5764, 960, 5205, 2241, 6930, 3699, 8447, 3784, 9469, 4746, 8430, 742, 9322, 3254, 5103, 7291, 8395, 7304, 2707, 2547, 5555, 6505, 1817, 7268, 8161, 517, 2439, 7332, 6149, 4075, 3739, 3997, 1682, 8983, 145, 2663, 6361, 6788, 3064, 9389, 4301, 7328, 9003, 8575, 3239, 6695, 594, 3793, 8544, 1059, 8200, 1856, 2871, 9574, 5218, 6256, 8581, 2460, 728, 7495, 2103, 8179, 1144, 7514, 271, 4353, 7647, 3408, 8443, 1970, 1711, 825, 7875, 1333, 9753, 4233, 1349, 1473, 4176, 2193, 8477, 6834, 2569, 8284, 4729, 4988, 1177, 9210, 6374, 9114, 9049, 6639, 5225, 4988, 2103, 6207, 6859, 1314, 6491, 5764, 960, 5205, 2241, 6930, 3699, 8447, 3784, 9469, 4746, 8430, 742, 9322, 3254, 5103, 7291, 8395, 7304, 2707, 2547, 5555, 6505, 1817, 7268, 8161, 517, 2439, 7332, 6149, 4075, 3739, 3997, 1682, 8983, 145, 2663, 6361, 6788, 3064, 9389, 4301, 7328, 9003, 8575, 3239, 6695, 594, 3793, 8544, 1059, 8200, 1856, 2871, 9574, 5218, 6256, 8581, 2460, 728, 7495, 2103, 8179, 1144, 7514, 271, 4353, 7647, 3408, 8443, 1970, 1711, 825, 7875, 1333, 9753, 4233, 1349, 1473, 4176, 2193, 8477, 6834, 2569, 8284, 4729, 4988, 1177, 9210, 6374, 9114, 9049, 6639, 5225, 4988, 2103, 6207, 6859, 1314, 6491, 5764, 960, 5205, 2241, 6930, 3699, 8447, 3784, 9469, 4746, 8430, 742, 9322, 3254, 5103, 7291, 8395, 7304, 2707, 2547, 5555, 6505, 1817, 7268, 8161, 517, 2439, 7332, 6149, 4075, 3739, 3997, 1682, 8983, 145, 2663, 6361, 6788, 3064, 9389, 4301, 7328, 9003, 8575, 3239, 6695, 594, 3793, 8544, 1059, 8200, 1856, 2871, 9574, 5218, 6256, 8581, 2460, 728, 7495, 2103, 8179, 1144, 7514, 271, 4353, 7647, 3408, 8443, 1970, 1711, 825, 7875, 1333, 9753, 4233, 1349, 1473, 4176, 2193, 8477, 6834, 2569, 8284, 4729, 4988, 1177, 9210, 6374, 9114, 9049, 6639, 5225, 4988, 2103, 6207, 6859, 1314, 6491, 5764, 960, 5205, 2241, 6930, 3699, 8447, 3784, 9469, 4746, 8430, 742, 9322, 3254, 5103, 7291, 8395, 7304, 2707, 2547, 5555, 6505, 1817, 7268, 8161, 517, 2439, 7332, 6149, 4075, 3739, 3997, 1682, 8983, 145, 2663, 6361, 6788, 3064, 9389, 4301, 7328, 9003, 8575, 3239, 6695, 594, 3793, 8544, 1059, 8200, 1856, 2871, 9574, 5218, 6256, 8581, 2460, 728, 7495, 2103, 8179, 1144, 7514, 271, 4353, 7647, 3408, 8443, 1970, 1711, 825, 7875, 1333, 9753, 4233, 1349, 1473, 4176, 2193, 8477, 6834, 2569, 8284, 4729, 4988, 1177, 9210, 6374, 9114, 9049, 6639, 5225, 4988, 2103, 6207, 6859, 1314, 6491, 5764, 960, 5205, 2241, 6930, 3699, 8447, 3784, 9469, 4746, 8430, 742, 9322, 3254, 5103, 7291, 8395, 7304, 2707, 2547, 5555, 6505, 1817, 7268, 8161, 517, 2439, 7332, 6149]
Sum:  2999538

5. Create 2 DataFrames:      
show_raw_stats: index = numpy sorted array of SHOWS; columns = numpy sorted array of STATES      
show_agg_stats: index = same as above; columns= a list with the words Max, Min, Totals and Percent in it (like this… [‘Max’,’Min’,’Totals’, ‘Percent’]        
Populate show_raw_stats with data from the Original Array ingested from film_results.txt. 
Populate the Max, Min, Totals, and Percent in show_agg_stats using the DataFrame native functionality    
Print both dataframe   (30 pts)     

HINT:  You will need to create a loop here that basically goes the length of the original array, and on each iteration, it grabs the STATE, SHOW, and VIEWERS number (itll be a string so youll have to convert it…).    
The final step of each iteration will be placing it in the dataframe in the correct spot as an accumulation. +=      (Otherwise you just writing over the value there)

In [63]:
import pandas
# list_of_tuples = list(zip(sorted_nmpy_shows, sorted_nmpy_states))
show_raw_stats = pandas.DataFrame(index=sorted_nmpy_shows, columns=sorted_nmpy_states)
values = ['Max', 'Min','Totals', 'Percent']
show_agg_stats = pandas.DataFrame(index=sorted_nmpy_shows, columns=values)
for state, show, viewer_count in data_array:
    show_raw_stats.loc[show, state] = int(viewer_count)
print(show_raw_stats)
for show in sorted_nmpy_shows:
    show_data = show_raw_stats.loc[show]
    max_value = show_data.max()
    min_value = show_data.min()
    total = show_data.sum()
    percent = (total / show_data.size) * 100
    show_agg_stats.loc[show] = [max_value, min_value, total, percent]

print(show_agg_stats)

                        California Idaho Nevada Oregon Washington
Better Call Saul              8430  8179   7268   9322       3784
Daredevil                     7304  1817   5555   6149       2241
Game of Thrones               7332   742   9469   2460       2547
Gotham                        1473  4176   8575   6505       6834
Once Upon a Time              9753  6930   6639   4075       2103
Orange is the New Black       7291  5225   1349   1144       3699
Suits                         1314  1333   2707   6207       2871
The Flash                     3254  6491   3793   8395       4988
The Walking Dead              4353  6256    825   8447       4301
Vikings                       1059  5218   8161   1711        728
                          Max   Min Totals   Percent
Better Call Saul         9322  3784  36983  739660.0
Daredevil                7304  1817  23066  461320.0
Game of Thrones          9469   742  22550  451000.0
Gotham                   8575  1473  27563  551260.0
Once Upon a Time         9753  2103  29500  590000.0
Orange is the New Black  7291  1144  18708  374160.0
Suits                    6207  1314  14432  288640.0
The Flash                8395  3254  26921  538420.0
The Walking Dead         8447   825  24182  483640.0
Vikings                  8161   728  16877  337540.0

### Please try to follow the directions as closely as possible.  You might think of better ways to implement this, with less lines of code the skips steps and thats great, but not for this assignment.  If you do think of these, put them in comments and extra points will be given for those but follow these steps.

6. Print the answer to these questions in a Markdown cell, do not print them with Python:        
Which Show has the highest percentage?   (5 pts)      
Which Show has the lowest percentage?    (5 pts)     
Which show is your favorite?             (5 pts)

The show with the highest percentage is Better Call Saul
The show with the lowest percentage is Suits
My favorite show of the ones in this list is The Flash